@mixin phone {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1439px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (max-width: 1919px) {
    @content;
  }
}

.sights {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 15px;
  list-style: none;
  padding: 74px 0px;

  @include laptop {
    margin-top: 0;
    justify-content: flex-start;
    padding-top: 5px;
    gap: 8px;
  }

  @include tablet {
    justify-content: center;
    align-items: center;
  }

  @include phone {
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 0;
  }

  .sight {
    position: relative;
    width: calc((100% - 30px) / 3);
    height: 270px;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;

    &:last-child {
      margin-left: 0;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
      z-index: 1;
    }

    .image {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }

    @include laptop {
      width: calc((100% - 8px) / 2);
    }

    @include phone {
      width: 100%;
    }

    .sight-about {
      position: absolute;
      left: 12px;
      bottom: 12px;
      right: 12px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      @include tablet() {
        left: 16px;
        bottom: 16px;
        right: 16px;
      }

      .sight_name {
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        text-transform: capitalize;
        color: #ebebeb;
        z-index: 20;
      }

      .sight_descr {
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #cdcdcd;
        z-index: 20;
      }
    }

    .choice {
      position: absolute;
      top: 11px;
      right: 11px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 129px;
      height: 40px;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.35);
      z-index: 25;

      span {
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: white;
      }
    }
  }
}
