@mixin mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}

@mixin medium {
  @media only screen and (max-width: 1390px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1439px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (max-width: 1919px) {
    @content;
  }
}

.offers {
  h2 {
    color: black;
    margin-top: 20px;
    margin-bottom: 32px;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

    @include laptop() {
      font-size: 28px;
    }
  }

  .offer-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;

    .offer-projects-item {
      width: calc((100% - 64px) / 5);
      height: 373px;
      position: relative;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      @include laptop() {
        width: calc((100% - 48px) / 4);
        height: 345px;
      }

      @include medium {
        width: calc((100% - 32px) / 3);
        height: 345px;
      }

      @include tablet {
        width: calc((100% - 16px) / 2);
      }

      @include mobile {
        width: 100%;
        height: 399px;
      }

      .offer-image {
        height: 285px;
        position: relative;
        overflow: hidden;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;

        @include mobile {
          height: 323px;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 40%;
          border-radius: 8px;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
          z-index: 1;
        }

        .image {
          transition: transform 0.4s ease;

          &:hover {
            transform: scale(1.05);
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
          }
        }

        .marked {
          position: absolute;
          top: 10px;
          right: 10px;
          z-index: 10;
        }

        .image {
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .offer-details {
        padding: 8px;
        display: flex;
        flex-direction: column;

        h3 {
          margin: 0;
          font-size: 1.2em;
        }

        .offer-info {
          display: flex;
          justify-content: space-between;
        }
      }

      .offer-projects-details {
        padding: 12px;

        h3 {
          margin-bottom: 8px;
          font-size: 16px;
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
        }

        .details-price {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          p {
            width: calc(100% - 120px);
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
          }

          span {
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
          }
        }
      }
    }
  }
  .offer-image-info {
    position: absolute;
    bottom: 8px;
    left: 8px;
    display: flex;
    flex-direction: row;

    .image-info {
      display: flex;
      flex-direction: row;
      gap: 6px;
      align-items: center;
      padding: 4px 8px 4px 6px;
      color: white;
      z-index: 100;
    }
  }

  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    padding-bottom: 0;

    @include laptop() {
      padding-top: 55px;
    }
  }

  .map-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 107px;
    height: 45px;
    border-radius: 8px;
    background-color: #dba77b;
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    @include tablet() {
      width: 89px;
      height: 37px;
      gap: 8px;
      font-size: 12px;
    }
  }
}
