@import '@/styles/variable';
@import '@/styles/mixins';

.checker-mob {
  z-index: 53;
  position: relative;
  width: 100%;
  transition: $transition;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;

  .trigger {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #000;
    font-size: 14px;
    text-wrap: nowrap;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    &.active {
      border-radius: 8px 8px 0 0;
    }
    & .text {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    .trigger-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      &.active {
        transform: rotate(-180deg);
      }
    }
  }
  .selectedList {
    width: 100%;
    padding: 12px 16px;
    text-align: left;
    color: #666;
    font-size: 14px;
    border-radius: 0 0 8px 8px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #fff;
    -webkit-backdrop-filter: blur(11.3999996185px);
    backdrop-filter: blur(11.3999996185px);
  }
  .checker-list-container {
    width: 100%;
    font-size: 14px;
    border-radius: 0 0 8px 8px;
    max-height: 0;
    opacity: 0;
    background-color: #fff;
    overflow: hidden;

    &.active {
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      //padding-right: 1px;
      max-height: 200px;
      opacity: 1;
    }
    > ul {
      background-color: #fff;
      margin-bottom: 2px;
      overflow-y: scroll;
      max-height: 198px;
      // @include filter-scrollbar;
      overscroll-behavior: contain;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .checker-list-item {
      min-height: 42px;
      padding: 0 16px;
      // border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #fff;
      transition: $transition;
      color: #000;
      font-size: 14px;
      &:nth-last-child(1) {
        border-bottom: none;
      }

      .checker-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border: 2.5px solid #cccccc;
        border-radius: 50%;
      }
      &.active {
        color: $color-brown;
        .checker-icon {
          border: 6px solid $color-brown;
        }
      }
    }
  }
}
