@import './../../../styles/mixins';
.projects__areas{
    margin-top: 64px;
    @include mobile{
        display: none;
    }
}
.projects__areas-title {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 24px;
}

.projects__areas-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(270px, 1fr);
    gap: 16px;

    @include rwd_max(1224px) {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(215px, auto)
    }

    @include md {
        display: none;
    }
}

.areas__slider {
    display: none !important;

    @include md {
        display: block !important;
        width: 100%;
        height: 100%;

        .swiper-pagination {
            padding-top: 24px;
            position: static;
        }

        .swiper-pagination-bullet {
            height: 15px;
            width: 15px;
            background-color: transparent;
            border: 2px solid #CDCDCD;

            &-active {
                background-color: #DCDCDC;
            }
        }

    }
}

.projects__area-card {
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    @include md {
        min-height: 300px;
    }

    .card-image {
        transition: all 200ms ease-in;
        object-fit: cover;
    }

    &:hover .card-image {
        transform: scale(1.1);
    }

    &::before {
        z-index: 3;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #0000 46%, #000000cf 85%);
    }

    .card__label {
        z-index: 5;
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        background: rgba(0, 0, 0, 0.35);
        transition: all ease-in 200ms;

        color: white;
        position: absolute;
        top: 12px;
        right: 12px;
        padding: 12px 16px;
        border-radius: 10px;

        &:hover {
            backdrop-filter: blur(0);
            background-color: rgba(22, 22, 22, 0.702);
        }
    }

    .card__inner {
        z-index: 3;
        padding: 12px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .card__title {
            font-weight: 500;
            font-size: 24px;
            color: #ebebeb;
            padding-bottom: 10px;
        }

        .card__text {
            font-weight: 400;
            font-size: 14px;
            color: #cdcdcd;
        }
    }
}