@import './../../../styles/mixins';

.project__help-form {
  margin-top: 80px;
  display: flex;
  gap: 10px;
  @include tablet{
    display: none;
  }
  @include mobile{
    display: flex;
    margin-top: 0px;
  }
  .image {
    max-width: 550px;
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    
    @include lg {
      display: none;
    }
  }

  .contact {
    @include md {
      display: none;
    }

    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 52px 56px;
    border-radius: 10px;
    border: 1px solid #f1f1f1;

    @include xl {
      padding: 25px;
    }

    &__title {
      font-size: 24px;
    }

    &__text {
      color: #757575;
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      &__btn,
      input {
        height: 60px;
        padding: 0 22px;
        border-radius: 10px;
      }

      &__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        background-color: #dba77b;
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
        &:hover {
          background-color: #dba67be9;
        }
      }

      input {
        border: 1px solid #f1f1f1;

        &:focus {
          outline: none;
        }
      }

      &__privacy {
        font-size: 12px;
        color: #757575;
      }
    }
  }

  // MOBILE VARIANT

  .contact__mobile {
    display: none;

    @include md {
      display: block;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 5px;
      border-radius: 10px;
      border: 1px solid #f1f1f1;
      padding: 12px;
    }

    &__title {
      font-size: 20px;
    }

    &__text {
      color: #757575;
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-top: 20px;

      > div {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;
        border: 0.5px solid rgba(57, 70, 121, 0.32);
        -webkit-backdrop-filter: blur(17.3999996185px);
        backdrop-filter: blur(17.3999996185px);
      }

      &__btn,
      input {
        height: 48px;
        font-size: 14px;
        color: #222;
        border-radius: 6px;
        border: 0.5px solid rgba(57, 70, 121, 0.32);
        -webkit-backdrop-filter: blur(17.3999996185px);
        backdrop-filter: blur(17.3999996185px);
        &::placeholder {
          color: #959595;
        }
      }

      &__btn {
        height: 45px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        background-color: #dba77b;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
        &:hover {
          background-color: #dba67be9;
        }
      }

      input {
        border: none;
        width: 100%;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
