@import '@/styles/variable';
@import '@/styles/mixins';

.filter-radio-buttons {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  .radio-button {
    width: fit-content;
    height: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(204, 204, 204, 0.6);
    background: #ffffff26;
    box-shadow: 0 4px 5.2px #ffffff0d inset, 0 4px 12.4px #ffffff0d inset,
      0 -3px 13.1px #ffffff26 inset;
    color: #000;
    font-size: 14px;
    text-wrap: nowrap;
    @include medium{
      font-size: 12px;
    }
    &.active{
      color: #dba77b;
      border: 1px solid #dba77b;
      background: #ffffff21;
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(30px);
    }
  }
}
