@import '@/styles/variable';
@import '@/styles/mixins';

@import '@/styles/variable';
@import '@/styles/mixins';
.filter-block-properties-mob-search {
  margin-top: 16px;
  .map-search-block-container {
    height: 46px;
    .map-search-block-form {
      border-radius: 8px;
      gap: 10px;
      padding: 8px;
      .search-icon {
        width: 14px;
        height: 14px;
        svg {
          width: 14px;
          height: 14px;
        }
      }
    }
    .map-search-block-searchList {
      top: 46px;
      border-radius: 8px;
    }
  }
}

.filter-block-properties {
  border-bottom: 1px solid #dadada;
  background-color: #fafafa;
  padding: 15px 0;
  @include medium {
    border-bottom: none;
  }
  .filter-block-properties-filters {
    .row1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 55px;
      gap: 12px;
      margin-bottom: 12px;
      @include medium {
        height: 34px;
      }
      .radio {
        height: 100%;
        @include mobile {
          display: none;
        }
        .hero-form-buttons {
          margin: 0;
          height: auto;
          gap: 12px;
          & .middle {
            display: none;
          }
          .form-button {
            padding: 0 14px;
            width: fit-content;
            border: 1px solid rgba(204, 204, 204, 0.6);
            background: #ffffff26;
            height: 56px;
            border-radius: 8px;
            font-weight: 400;
            color: $color-black;
            white-space: nowrap;
            font-size: 14px;
            @include laptop {
              height: 34px;
              font-size: 12px;
            }
            &.active {
              border: 1px solid $color-brown;
              color: $color-brown;
            }

            & .radio {
              display: none;
            }
          }
        }
      }
      .search {
        width: 100%;
        height: 100%;
        position: relative;
        .map-search-block-container {
          .map-search-block-form {
            border-radius: 8px;
            background-color: #fafafa;
            @include medium {
              gap: 10px;
              padding: 8px;
            }
            .map-search-block-input {
              font-size: 14px;
              @include medium {
                font-size: 12px;
              }
            }
            .search-icon {
              @include medium {
                svg {
                  width: 14px;
                  height: 14px;
                }
              }
            }
            .map-search-block-input-close {
              @include medium {
                right: 8px;
                width: 20px;
                height: 20px;
                svg {
                  width: 12px;
                  height: 12px;
                }
              }
            }
          }
          .map-search-block-searchList {
            border-radius: 8px;
          }
        }
      }
      .clear {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        border: 1px solid #ff5959;
        border-radius: 8px;
        height: 55px;
        color: #ff5959;
        background: rgba(255, 89, 89, 0.2);
        font-size: 14px;
        padding: 7px 16px 7px 8px;
        @include medium {
          height: 34px;
          font-size: 12px;
        }
        @include mobile {
          display: none;
        }
      }
    }
    .row2 {
      width: 100%;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      @include medium {
        height: 34px;
      }
      @include mobile {
        display: none;
      }
      .dropdown {
        width: 100%;
        height: 100%;
      }
    }
  }
}
