@mixin mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1439px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (max-width: 1919px) {
    @content;
  }
}

.breadcrumbs {
  display: flex;
  align-items: left;
  margin-bottom: 20px;
  gap: 5px;
  font-size: 14px;
  font-weight: 300;
  color: #676767;

  @include laptop() {
    margin-bottom: 32px;
  }

  @include mobile() {
    display: none;
  }
}

.project-hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  border-radius: 8px;

  @include laptop {
    flex-direction: column;
    gap: 0;
  }

  //maz-mobile header above the image
  .mobile-header-info {
    display: none;

    @include mobile() {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .mob-about {
      padding-bottom: 22px;
      padding-top: 0;
      gap: 5px;

      .mob-title {
        font-size: 18px;
        font-weight: 500;
        color: black;
      }

      .mob-location {
        font-size: 12px;
        font-weight: 400;
        color: #676767;
      }

      .mob-price {
        font-size: 14px;
        font-weight: 600;
        color: black;

        .mob-amount {
          font-size: 12px;
          font-weight: 400;
          color: #717171;
        }
      }

      .mob-price-meter {
        font-size: 12px;
        font-weight: 400;
        color: #717171;
      }
    }
  }

  //main project details from tablet widths
  .about-project-tablet {
    display: none;

    @include laptop() {
      display: flex;
      flex-direction: row;
      width: 100%;
      border: 1px solid #f1f1f1;
      border-radius: 8px;
    }

    @include mobile() {
      flex-direction: column;
      width: 100%;
    }

    .about-project-tablet-details {
      padding: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 12px;
      width: 50%;

      @include mobile() {
        width: 100%;
      }

      .about {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 6px;

        @include mobile() {
          display: none;
        }
      }

      .price {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0;
        color: #000000;

        @include mobile() {
          font-size: 14px;
        }

        .amount {
          font-size: 22px;
          font-family: 'Roboto', sans-serif;
          font-weight: 600;
          color: #000000;

          @include laptop() {
            font-size: 14px;
            font-weight: 600;
            color: #717171;
          }

          @include mobile() {
            font-size: 12px;
            font-weight: 600;
          }
        }
      }

      .price-meter {
        margin-bottom: 0;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #717171;

        @include laptop() {
          font-size: 14px;
        }

        @include mobile() {
          font-size: 12px;
        }
      }

      .project-title {
        margin-bottom: 0;
        font-size: 22px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        color: #000000;

        @include laptop() {
          font-size: 18px;
        }
      }

      .project-location {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        color: #676767;

        @include laptop() {
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
  }

  .about-project {
    display: flex;
    flex-direction: column;
    width: 32%;
    border-radius: 8px;
    padding: 16px;
    border: 1px solid #f1f1f1;

    @include laptop {
      display: none;
    }

    .price {
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 8px;
      color: #000000;

      @include laptop() {
        font-size: 16px;
      }
      .amount {
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: #000000;

        @include laptop() {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    .price-meter {
      margin-bottom: 14px;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      color: #676767;

      @include laptop() {
        font-size: 14px;
      }
    }

    .project-title {
      margin-bottom: 6px;
      font-size: 22px;
      font-weight: 600;
      font-family: 'Roboto', sans-serif;
      color: #000000;

      @include laptop() {
        font-size: 18px;
      }
    }

    .project-location {
      margin-bottom: 28px;
      font-size: 14px;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      color: #676767;

      @include laptop() {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }

  .points-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 28px;

    @include laptop() {
      padding: 12px;
      margin-bottom: 0;
      gap: 0px;
    }

    @include mobile() {
      width: 100%;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 6px;

    @include mobile() {
      width: 100%;
    }
  }

  .buttons-contact {
    box-sizing: border-box;
    height: 46px;
    width: 498px;
    border-radius: 8px;
    border: 1px solid #dba77b;
    background-color: #dba77b;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    @include mobile() {
      width: 100%;
      height: 48px;
    }

    &:hover {
      transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
      background-color: white;
      color: #dba77b;
      border: 1px solid #dba77b;
    }
  }

  .buttons-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 51px;
    height: 46px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;

    &:hover {
      transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
      background-color: #dba77b;
      color: white;
      border: 1px solid #dba77b;

      .phone {
        fill: white;
      }
    }

    .phone {
      width: 18px;
      height: 18px;
      fill: #dba77b;
    }
  }
}
