@import '@/styles/variable';
@import '@/styles/mixins';

.scroll-header__mobile {
  position: fixed;
  bottom: 13px;
  left: 50%;
  translate: -50%;
  z-index: 11010;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 92%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.19);
  background-color: rgba(45, 45, 45, 0.5);
  backdrop-filter: blur(16px);
}

.scroll-header__mobile-btn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: $color-white;

  cursor: pointer;
  transition: $transition;

  &:hover {
    color: $color-brown;
  }
}

.scroll-header__mobile-burger {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: $color-white;

  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: $color-brown;
  }
}

.scroll-header__desktop {
  position: fixed;
  bottom: 13px;
  left: 50%;
  translate: -50%;
  z-index: 3000;
  width: fit-content;

  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px;
  border-radius: 120px;
  border: 1px solid rgba(241, 241, 241, 0.17);
  background-color: rgba(0, 0, 0, 0.35);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);

  @include tablet {
    gap: 20px;
  }

  & div {
    display: flex;
    gap: 20px;

    @include tablet {
      gap: 10px;
    }
  }
}

.scroll-header__desktop-list {
  display: flex;
  gap: 49px;
  justify-content: center;
  align-items: center;

  @include tablet {
    gap: 20px;
  }
}

.scroll-header__desktop-list-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: $color-white;
  transition: $transition;

  &:hover {
    color: $color-brown;
  }
}

.scroll-header__desktop-link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px 8px 10px;
  white-space: nowrap;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: $color-brown;

  border-radius: 16px;
  background-color: $color-white;
  transition: $transition;

  &:hover {
    color: $color-white;
    background-color: $color-brown;
  }
}

.scroll-header__desktop-link__second {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px 8px 10px;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: $color-white;

  border-radius: 16px;
  background-color: $color-brown;
  transition: $transition;

  &:hover {
    color: $color-brown;
    background-color: $color-white;
  }
}
