@import '@/styles/variable';
@import '@/styles/mixins';

.backdrop-sort {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-sort {
  position: fixed;
  top: 64px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 16px;
  background-color: $color-background-menu;
  width: 100%;
  height: 100%;
  @include custom-scrollbar($color-brown);
}

.modal-header__sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-close__sort {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: $color-white;
  box-shadow: 0 4px 42.5px #00000014;
}

.btn-clear__sort {
  display: inline-flex;
  height: 40px;
  padding: 0 12px 0 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #ff5959;
  text-align: center;
  font-family: 'Onest', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  border-radius: 11px;
  border: 1px solid #ff5959;
  background: #ff595933;
  cursor: pointer;
}

.modal-content__sort {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-content__sort-label {
  display: flex;
  padding: 18px 16px;
  align-items: center;
  justify-content: space-between;
  color: $color-black;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: unset;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: $color-white;
  backdrop-filter: blur(11.3999996185px);

  & input {
    display: none;
  }

  & span {
    display: block;
    width: 24px;
    height: 24px;
    border: 2.5px solid #ccc;
    border-radius: 50%;
  }

  &.active {
    opacity: 1;
    & span {
      border: 7px solid $color-brown;
    }
  }
}

.modal-content__sort-submit {
  display: flex;
  padding: 18px 16px;
  justify-content: center;
  align-items: center;
  position: relative;
  color: $color-white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.19);
  background-color: $color-brown;
  backdrop-filter: blur(11.3999996185px);

  & svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
  }
}
