@import '@/styles/variable';
@import '@/styles/mixins';
.hero-filter {
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 25;
  font-size: 14px;
  width: 768px;
  @include laptop {
    width: 576px;
  }
  @include tablet {
    width: 410px;
  }
  @include mobile {
    width: 100%;
    padding: 0 16px;
    bottom: 105px;
  }
  //кнопка submit
  .hero-filter__button {
    width: 100%;
    height: 53px;
    border: 1px solid rgba(255, 255, 255, 0.19);
    background: #ffffff42;
    -webkit-backdrop-filter: blur(11.3999996185px);
    backdrop-filter: blur(11.3999996185px);
    border-radius: 8px;
    @include mobile {
      display: none;
    }
  }
  .hero-filter__button-mob {
    width: 100%;
    height: 53px;
    border: 1px solid rgba(255, 255, 255, 0.19);
    background: #ffffff42;
    -webkit-backdrop-filter: blur(11.3999996185px);
    backdrop-filter: blur(11.3999996185px);
    border-radius: 8px;
    padding: 0 12px;
    display: none;
    @include mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(-90deg);
    }
  }
}
