@import '@/styles/variable';
@import '@/styles/mixins';

.backdrop__mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11010;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content__mobile {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  background-color: $color-background-menu;
  width: 100%;
  height: 100%;

  @include custom-scrollbar($color-brown);

  animation: modalAnimation 0.5s ease-in-out forwards;

  & ul {
    display: flex;
    flex-direction: column;
    gap: 4px;

    & li {
      & a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        border-radius: 12px;
        background-color: $color-white;
        transition: $transition;

        &:hover {
          color: $color-brown;
        }

        & div {
          display: flex;
          align-items: center;
          gap: 16px;
        }
      }
    }
  }
}

.modal-content__mobile__link {
  display: flex;
  align-items: center;

  gap: 16px;
  padding: 16px;
  border-radius: 12px;
  background-color: $color-brown;
  color: $color-white;
  border: 1px solid $color-brown;
  transition: $transition;

  &:hover {
    color: $color-brown;
    background-color: $color-white;

    & div {
      color: $color-brown;
    }
  }

  & div {
    display: flex;
    flex-direction: column;

    gap: 4px;

    color: $color-white;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
  }
}

@keyframes modalAnimation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-content__mobile__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    color: $color-black;
    transition: $transition;

    &:hover {
      color: $color-brown;
    }
  }

  & h3 {
    color: $color-black;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
  }
}

.backdrop__desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2500;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.backdrop__desktop.open {
  opacity: 1;
  pointer-events: all;
}

.modal-content__desktop {
  position: fixed;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 24px 18px;

  background-color: $color-white;
  width: 35%;
  height: 100%;
  @include custom-scrollbar($color-brown);

  & div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 27px;
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 25px;

    & li {
      & a {
        color: $color-black;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 2.2;
        transition: $transition;

        &:hover {
          color: $color-brown;
        }
      }
    }
  }
}

.modal-content__desktop.open {
  right: 0;
}

.modal-content__desktop-logo {
  color: $color-brown;
  width: 114px;
  height: 32px;
}

.modal-content__desktop-icon {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid #f1f1f1;
  background: var(--SystemWhite, #fff);
  box-shadow: 0 4px 20px #0f11211a;
  transition: $transition;

  &:hover {
    background-color: $color-brown;
  }
}

.modal-content__desktop-link {
  display: flex;
  justify-content: center;
  padding: 7px 12px;
  width: fit-content;
  background-color: $color-brown;
  border-radius: 4px;
  border: 1px solid $color-brown;

  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4;
  color: $color-white;
  transition: $transition;

  &:hover {
    color: $color-brown;
    background-color: $color-white;
  }
}

.backdrop__desktop-notHome {
  position: fixed;
  top: 69px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content__desktop-notHome {
  position: fixed;
  top: 69px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 16px 20px 16px 20px;
  border-radius: 12px;
  background-color: $color-white;
  width: 100%;
  height: fit-content;
  @include custom-scrollbar($color-brown);
}

.modal-content__desktop-notHome-btn {
  width: 26px;
  height: 26px;
}

.modal-content__desktop-notHome-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;

  & li {
    flex-basis: calc(50% - 5px);
    max-width: calc(50% - 5px);

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: $color-black;
    background-color: $color-white;
    border-radius: 12px;
    padding: 16px;

    & a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & div {
        display: flex;
        align-items: center;
        gap: 16px;
      }
    }
  }
}
